contact_service/export/
contact_service/output/
contact_service/log/
contact_service/tmp/
log/
output/
export/
tmp/
/.las2peer
/node-storage
/startup
/lib
etc/ivy/ivy.jar
/service
/etc/startup
*.iml
/.idea
restMapping.xml
/out
*.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.project
